@font-face {
    font-family: "Roboto";
    src: url(https://fonts.googleapis.com/css?family=roboto.woff);
}

.center {
    margin: 0 auto;
}

.centered {
    text-align: center;
}

.justify {
    text-align: justify;
}

.content {
    width: 600;
    font-family: "Roboto", "sans-serif";
} 

.content img {
    height: auto;
    width: 100%;
}

.content h1 {
    color: #044;
}

.navlinks {
    display: inline-block;
    border: 2px black solid;
    border-color: #066;
    border-radius: 8px;
    padding: 20 10;

}
.navlinks div:not(#first) {
    margin-top: 10;
}
.navlinks a, .navlinks a:visited {
    margin-top: 50;
    text-decoration: none;
    color: #066;
}
.navlinks a:hover { color: #AAA; }
.navlinks a:active { color: #666; }

.navlinks .hovertext {
    display: none;
    position: fixed;
    overflow: hidden;
    width: 120px;
    background-color: #151515;
    opacity: 0.8;
    color: #FFF;
    text-align: center;
    border-radius: 20px 30px 30px 60px;
    padding: 5px 0;
}

.upcoming {
    color: #003535;
}

form[name="ibanform"] input[name="iban"] {
    outline: none;
    color: #999;
    font-family: "Roboto Mono";
    font-size: 16;
    font-weight: 500;
    border: none;
    border-bottom: 2px solid #066;
    padding: 8px 10px;
}

form[name="ibanform"] input[name="iban"]:focus {
    background-color: #F9F9F9;
}

form[name="ibanform"] button {
    display: inline-block;
    outline: none;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 4px #444;
    height: 36px;
    min-width: 64px;
    padding: 0px 16px;
    margin: 12px 8px;
    background-color: #066;
    color: #FFF;
    font-family: "Roboto Medium";
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
}
